.menu{grid-area: menu;}
.main{grid-area:main;}
.footer{grid-area:footer;}
.menu{
    grid-area: menu;
    background-color:greenyellow;
}
.main {
    grid-area: main;
    background-color:#FFF;
    }
.grid-container {
    display:grid;
    grid-template-areas: 
        'menu main';
    grid-template-columns: 300px auto;
    grid-gap: 100px;
    background-color: #333333;
    padding: 10px;
}

.name h1 {
    display: inline-block;
}

.title h2 {
    display: inline-block;
}
    